

<%= semantic_form_for @team do |f| %>

    <%= f.inputs do %>
        <%= f.input :name, validate:true %>

        <%= f.semantic_fields_for :players do |player| %>
           <%= render 'player_fields', f:player%>
        <% end %>
        <div>
        <%= link_to_add_association 'add player', f, :players %>
        </div>
    <% end %>

    <%= f.actions :submit  %>
<% end %>








<!--f.inputs do-->
    <!--f.input :cos-->
    <!--f.semantic_blabla do |g|-->
        <!--g.costam-->
    <!--end-->
<!--end-->