

<%= semantic_form_for @team do |f| %>
    <%= f.inputs do %>
        <%= f.input :name, validate:true %>
        <%= f.semantic_fields_for :players do |player| %>
            <%= player.inputs do %>
                <%=  player.input  :name, validate:true%>
                <%=  player.input  :email_adress%>
                <div >
                    <%= player.semantic_fields_for :characters do |character| %>
                        <%= render 'character_fields', f:character%>

                    <% end %>
                    <%=link_to_add_association 'add task', player, :characters%>
                </div>

            <% end %>
        <% end %>
    <% end %>

    <%= f.actions :submit  %>
<% end %>





<!--f.inputs do-->
    <!--f.input :cos-->
    <!--f.semantic_blabla do |g|-->
        <!--g.costam-->
    <!--end-->
<!--end-->