
<div class="nested-fields">
    <%= f.inputs do %>

        <%=  f.input  :name, validate:true%>
        <%=  f.input  :email_adress%>

            <%=  f.semantic_fields_for :characters do |character| %>
                <%= render 'character_fields', f:character %>
            <% end%>
       <div>
            <%= link_to_add_association 'add character', f, :characters %>
            <%= link_to_remove_association "remove player", f%>
        </div>
    <% end %>
</div>