<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<% if not @team.country.nil? then %>
    <p>
        <strong>Country:</strong>
        <%=@team.country.name%>
    </p>
<% end %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>



logo:<%= image_tag @team.logo %>



<h2>Events</h2>
<table>
  <thead>
  <tr>
    <th>name</th>
    <th>link to</th>
  </tr>
  </thead>

  <tbody>

  <% @team.events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
  <% end %>
  </tbody>
</table>



<h2>Players</h2>
<p><%= @team.name %> have <%= pluralize(@team.players.count , 'player')%></p>
<%= link_to 'show players', team_players_path(@team) %>


<h2>Characters</h2>
<p><%= @team.name %> have <%= pluralize(@team.characters.count , 'character')%></p>
<%= link_to 'show characters', team_characters_path(@team) %>
