<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>




<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-link' %> |
<%= link_to 'Back', events_path , class: 'btn btn-link'%>|
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link', style: 'color:#FF0000' %>

<h2>Events</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>link to</th>
  </tr>
  </thead>

  <tbody>
  <% @event.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team %></td>
      </tr>
  <% end %>
  </tbody>
</table>