<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= #link_to 'Edit', edit_team_path(@team)
%>
<%= #link_to 'Back', teams_path
%>

<h2>teams</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>link to</th>
  </tr>
  </thead>

  <tbody>q
  <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team %></td>
      </tr>
  <% end %>
  </tbody>
</table>