<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>Team:</strong>
  <%= link_to @player.team.name , @player.team %>
</p>

<%= #link_to 'Edit', edit_team_path(@team)
%>
<%= #link_to 'Back', teams_path
%>

<h2>characters</h2>
<%= link_to 'show characters', team_player_characters_path(@player.team,@player) %>
<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
      </tr>
  <% end %>
  </tbody>
</table>