<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>




<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>|
<%= link_to 'Destroy', @country, method: :delete, data: { confirm: 'Are you sure?' } %>

<h2>Teams</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>link to</th>
  </tr>
  </thead>

  <tbody>
  <% @country.teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team %></td>
      </tr>
  <% end %>
  </tbody>
</table>