<!DOCTYPE html>
<html>
<head>
  <title>Zadanie1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true
  %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= content_tag :div, class: 'container' do %>
    <%= nav_bar :responsive => true do%>
        <%= menu_group do %>
            <%= menu_item "show teams",teams_path %>
            <%= menu_item "show events",events_path %>
            <%= menu_item "show countries",countries_path %>
        <% end %>
<% end %>



  <%= content_tag :div, class: 'row' do %>
    <%=    content_tag :div, class: 'col-lg-12' do %>
        <%= yield %>
    <% end %>
  <% end %>
<% end %>
</body>
</html>
